<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anemia-sense</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        
    }
    </style>
</head>
<body>
    <header>
        <nav>
          
            <div class="logo">AnemiaSense</div>
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#predict">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            
            <button type="button" class="btn">Predict</button>
          
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
          </nav>
        <div class="hero-section" id="home">
            <h1>Anemia Predictor: Your Health Guardian</h1>
            <p>Empowering you with early detection for better management and healthier living.</p>
        </div>
    </header>
    <main>
        <section id="about" class="info-section">
            <h2>About</h2>
            <div class="card-container">
                <div class="card">
                    <i class="fas fa-tint card-icon"></i>
                    <h3>Hemoglobin</h3>
                    <p>Hemoglobin, a protein in red blood cells, transports oxygen and carbon dioxide. Healthy ranges: Men 13.2-16.6 g/dL, Women 11.6-15 g/dL.</p>
                </div>
                <div class="card">
                    <i class="fas fa-dna card-icon"></i>
                    <h3>MCH</h3>
                    <p>An MCH value refers to the average quantity of hemoglobin present in a single red blood cell. The normal range for MCH is between 27.5 and 33.2 picograms (pg).</p>
                </div>
                <div class="card">
                    <i class="fas fa-notes-medical card-icon"></i>
                    <h3>MCHC</h3>
                    <p>The mean corpuscular hemoglobin concentration is the average concentration of hemoglobin in red blood cells. The normal range: 33.4-35.5 g/dL.</p>
                </div>
                <div class="card">
                    <i class="fas fa-vial card-icon"></i>
                    <h3>MCV</h3>
                    <p>MCV stands for mean corpuscular volume. An MCV blood test measures the average size of red blood cells. The normal range for MCV is between 80 to 100 femtoliters.</p>
                </div>
            </div>
        </section>

        
    </main>
</body>
</html>